@import "tailwindcss";

@theme {
  --color-secondary: theme(colors.neutral.200);
  --color-secondary-hover: theme(colors.neutral.300);
  --color-secondary-border: theme(colors.neutral.400);
  --color-secondary-text: theme(colors.neutral.500);
  --color-secondary-dark: theme(colors.neutral.800);
  --color-secondary-dark-hover: theme(colors.neutral.900);
}

*::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-secondary-dark rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;

}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-secondary-border;

}